# These env vars are managed by Renovate to test github-tags and github-releases datasources
# with api.github.com host rules.

# renovate: datasource=github-tags depName=cli/cli
GITHUB_CLI_VERSION=2.65.0

# renovate: datasource=github-releases depName=kubernetes/kubernetes
KUBERNETES_VERSION=1.32.3
